In [147]:
# implementation of linear regression
from matplotlib import pyplot as plt
import numpy as np
from numpy import genfromtxt
import pandas as pd  

headers = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', delim_whitespace=True, names=headers)
data=data.drop(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX','AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'LSTAT'], axis = 1)
price=data['MEDV']
features=data.drop(['MEDV'], axis = 1)#dropping price from features 
data.head()

      RM       B  MEDV
0  6.575  396.90  24.0
1  6.421  396.90  21.6
2  7.185  392.83  34.7
3  6.998  394.63  33.4
4  7.147  396.90  36.2

In [148]:
features.head()

      RM       B
0  6.575  396.90
1  6.421  396.90
2  7.185  392.83
3  6.998  394.63
4  7.147  396.90

In [149]:
x1=features['RM'].values
x2=features['B'].values
Y=price.values

In [150]:
m = len(Y)
x0=np.ones(m) #x0 is always 1 in linear regression 
X=np.array([x0,x1,x2]).T# x is matrix of row x0,x1,x2
B=np.zeros(3) #here B=[theta0,theta1,theta2]=[0, 0, 0]
#hypothesis function:h(x)=b0 + b1x1 + b2x2 since two features are used i.e. x1 and x2
alpha=0.0001 #alpha is learning rate

In [151]:
def cost_function(X, Y, B):
    m=len(Y)
    J=np.sum((X.dot(B)-Y)**2)/(2*m) #calculating initial cost function for all data points 
    return J

In [152]:
inital_cost=cost_function(X, Y, B)
print(inital_cost)

296.0734584980237

In [153]:
def gradi_desc(X,Y,B,alpha,iteration):
    cost_iter=[0]*iteration
    m=len(Y)
    
    for i in range(iteration):
        h=x.dot(B) #updating hypothesis function with latest bo,b1,and b2(weights for each features)
        loss=h-Y #difference between current calculated hypothesis value and actual one 
        gradient=X.T.dot(loss)/m # current cost unction for individual data points
        B = B - alpha * gradient #updating theta values i.e. b0,b1,b2 with latest calculated weights
        cost = cost_function(X,Y,B) # cost function of current hypothesis
        cost_iter[i]=cost
    
    return B,cost_iter

In [155]:
newB, cost_history = gradi_desc(X, Y, B, alpha,3000)

C:\Users\himal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in square
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\himal\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in subtract
  if __name__ == '__main__':